{{ define "main" }}
<article>
    <header id="page-header" class="center-text">
        <h1>{{ .Title }}</h1>
        <picture id="header-stripes">
            <source type="image/webp" srcset="{{ .Site.BaseURL }}images/header-stripes.webp">
            <img src="{{ .Site.BaseURL }}images/header-stripes.png" alt="0 A.D. Article Stripes" width="1000" height="8">
        </picture>
        <picture id="header-triangle">
            <source type="image/webp" srcset="{{ .Site.BaseURL }}images/header-triangle.webp">
            <img src="{{ .Site.BaseURL }}images/header-triangle.png" alt="0 A.D. Article Triangle" width="62"
                height="62">
        </picture>
    </header>
    <div id="page-content">
        {{ .Content }}
    </div>
</article>
{{ end }}