<button id="to-top" title="Go To Top">&#10548;</button>
<nav id="footer-nav">
    <div>
        <div>
            <h3>{{ i18n "DonateTo0AD" }}</h3>
            <p>Donate Stuff</p>
        </div>
        <div>
            <h3>{{ i18n "GameInfo" }}</h3>
            <ul>
                <li>
                    <a href="{{ "project-overview/" | absLangURL }}">{{ i18n "ProjectOverview" }}</a>
                </li>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "Download0AD" }}</a>
                </li>
                <li>
                    <a href="{{ "features/" | absLangURL }}">{{ i18n "Features" }}</a>
                </li>
                <li>
                    <a href="{{ "factions/" | absLangURL }}">{{ i18n "Factions" }}</a>
                </li>
                <li>
                    <a href="{{ "game-manual/" | absLangURL }}">{{ i18n "GameManual" }}</a>
                </li>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "AwardsAcclaim" }}</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>{{ i18n "Media" }}</h3>
            <ul>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "Videos" }}</a>
                </li>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "Screenshots" }}</a>
                </li>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "Music" }}</a>
                </li>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "BuildingConcepts" }}</a>
                </li>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "UnitConcepts" }}</a>
                </li>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "Wallpapers" }}</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>{{ i18n "Community" }}</h3>
            <ul>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "Donate" }}</a>
                </li>
                <li>
                    <a href="{{ "participate/" | absLangURL }}">{{ i18n "Participate" }}</a>
                </li>
                <li>
                    <a href="https://wildfiregames.com/forum/" target="_blank">{{ i18n "Forums" }}</a>
                </li>
                <li>
                    <a href="http://webchat.quakenet.org/?channels=0ad" target="_blank">{{ i18n "IRCChannel" }}</a>
                </li>
                <li>
                    <a href="{{ "support/" | absLangURL }}">{{ i18n "Support" }}</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>{{ i18n "About" }}</h3>
            <ul>
                <li>
                    <a href="{{ "contact-us/" | absLangURL }}">{{ i18n "ContactUs" }}</a>
                </li>
                <li>
                    <a href="{{ "organization/" | absLangURL }}">{{ i18n "Organization" }}</a>
                </li>
                <li>
                    <a href="{{ "contributors/" | absLangURL }}">{{ i18n "Contributors" }}</a>
                </li>
                <li>
                    <a href="{{ "legal-notices/" | absLangURL }}">{{ i18n "LegalNotices" }}</a>
                </li>
                <li>
                    <a href="{{ "official-logos/" | absLangURL }}">{{ i18n "OfficialLogos" }}</a>
                </li>
                <li>
                    <a href="{{ "the-story-of-0ad/" | absLangURL }}">{{ i18n "Story0AD" }}</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>{{ i18n "FollowUs" }}</h3>
            <ul>
                <li>
                    <a href="http://play0ad.bandcamp.com/" target="_blank">BandCamp</a>
                </li>
                <li>
                    <a href="http://facebook.com/play0ad" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/play0ad.official/" target="_blank">Instagram</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/345131/" target="_blank">LinkedIn</a>
                </li>
                <li>
                    <a href="https://mastodon.social/@play0ad" target="_blank">Mastodon</a>
                </li>
                <li>
                    <a href="http://www.moddb.com/games/0-ad" target="_blank">ModDB</a>
                </li>
                <li>
                    <a href="https://www.reddit.com/r/0ad/" target="_blank">Reddit</a>
                </li>
                <li>
                    <a href="https://twitter.com/play0ad" target="_blank">Twitter</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/play0ad" target="_blank">YouTube</a>
                </li>
            </ul>
        </div>
    </div>
    
</nav>
<footer>
    <ul>
        <li>
            <a href="http://wildfiregames.com/">Wildfire Games</a>
        </li>
        <li>
            <a href="http://creativecommons.org/licenses/by-sa/3.0/">this website content is released under CC-BY-SA</a>
        </li>
    </ul>
</footer>